.clients{
    background: #F8F9FA;
    padding-top: 38px;
    padding-bottom: 60px;
    @include media(768){
        background: #fff;
    }
    @include media(992){
        padding-top: 32px;
        padding-bottom: 40px;
    }
    &__title{
        margin-bottom: 40px;
        @include media(768){
            margin-bottom: 20px;
        }
    }
    &__slider{
        width: 100%;
        overflow: hidden;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% + 30px);
        margin-left: -15px;
    }
    .swiper{
        width: 100%;
        position: relative;
        overflow: hidden;
        max-width: 990px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        z-index: 1;
        @include media(1200){
            max-width: 720px;
        }
        @include media(992){
            max-width: 520px;
        }
        @include media(768){
            max-width: 330px;
        }
        @include media(575){
            max-width: 100%;
            width: calc(100% - 60px);
            margin-right: 30px;
            margin-left: 30px;
        }
        &-wrapper{
            display: flex;
            width: max-content;
        }
        &-slide{
            background: #FFF;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            @include media(992){
                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            }
            @include media(575){
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            }
        }
    }
    &__img{
        width: 100%;
        img{
            width: 100%;
        }
    }
    &__buttons{
        position: absolute;
        width: calc(100% - 30px);
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
    }
    &__button{
        &-prev{
            width: 60px;
            height: 60px;
            background: #FFFFFF;
            box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
            background: #fff;
            border-radius: 50%;
            padding: 20px 24px;
            @include media(992){
                width: 40px;
                height: 40px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                padding: 13px 15px;
            }
            @include media(575){
                width: 20px;
                height: 20px;
                background: #FFFFFF;
                border: 1px solid #E4E5E6;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
            }
            picture{
                @include media(768){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            img{
                line-height: 0 !important;
                @include media(992){
                    width: 10px;
                }
                @include media(575){
                    width: 5px;
                    height: 8px;
                }
            }
        }
        &-next{
            width: 60px;
            height: 60px;
            background: #FFFFFF;
            box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
            background: #fff;
            border-radius: 50%;
            padding: 20px 24px;
            @include media(992){
                width: 40px;
                height: 40px;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
                padding: 13px 15px;
            }
            @include media(575){
                width: 20px;
                height: 20px;
                background: #FFFFFF;
                border: 1px solid #E4E5E6;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
            }
            picture{
                @include media(768){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            img{
                line-height: 0 !important;
                @include media(992){
                    width: 10px;
                }
                @include media(575){
                    width: 5px;
                    height: 8px;
                }
            }
        }
    }
}