mixin asks()
    .asks 
        .asks__body.container 
            .asks__content
                .asks__circle    
                    <svg width="37" height="54" viewBox="0 0 37 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_350_1120)">
                        <path d="M12.989 32.8681C12.989 31.4029 13.3553 30.0064 14.0879 28.6786C14.8663 27.3049 15.782 26.1145 16.8352 25.1071C17.9341 24.054 19.0101 23.0467 20.0632 22.0852C21.1621 21.1236 22.0778 20.0934 22.8104 18.9945C23.5888 17.8956 23.978 16.7967 23.978 15.6978C23.978 13.0421 22.2839 11.7143 18.8956 11.7143C15.5989 11.7143 13.1264 13.6374 11.478 17.4835L2 12.0577C3.51099 8.57784 5.80037 5.87638 8.86813 3.9533C11.9817 1.98443 15.4615 1 19.3077 1C23.5201 1 27.1831 2.23626 30.2967 4.70879C33.4103 7.18132 34.967 10.5238 34.967 14.7363C34.967 16.6136 34.5778 18.3764 33.7994 20.0247C33.0668 21.6731 32.1511 23.0696 31.0522 24.2143C29.9991 25.359 28.9231 26.4121 27.8242 27.3736C26.7711 28.3352 25.8553 29.2738 25.0769 30.1896C24.3443 31.1053 23.978 31.9982 23.978 32.8681H12.989ZM23.0852 49.0769C21.8031 50.359 20.2692 51 18.4835 51C16.6978 51 15.1639 50.359 13.8819 49.0769C12.5998 47.7949 11.9588 46.261 11.9588 44.4753C11.9588 42.6896 12.5998 41.1557 13.8819 39.8736C15.1639 38.5916 16.6978 37.9506 18.4835 37.9506C20.2692 37.9506 21.8031 38.5916 23.0852 39.8736C24.3672 41.1557 25.0082 42.6896 25.0082 44.4753C25.0082 46.261 24.3672 47.7949 23.0852 49.0769Z" fill="white"/>
                        </g>
                        <defs>
                        <filter id="filter0_d_350_1120" x="0" y="0" width="36.9668" height="54" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="1"/>
                        <feGaussianBlur stdDeviation="1"/>
                        <feComposite in2="hardAlpha" operator="out"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_350_1120"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_350_1120" result="shape"/>
                        </filter>
                        </defs>
                    </svg>
                h2.asks__title У вас есть вопросы?
                button(type="button" data-target="asks").open-popup.asks__btn Задать вопрос