mixin autopark()
    .autopark 
        .autopark__body.container 
            h2.autopark__title.title Наш автопарк
            .autopark__content 
                .autopark__item
                    img(src="@img/autopark-1.png", alt="" draggable="false")
                    .autopark__p 12 АБС
                .autopark__item
                    img(src="@img/autopark-2.png", alt="" draggable="false")
                    .autopark__p 2 АБН
                .autopark__item
                    img(src="@img/autopark-3.png", alt="" draggable="false")
                    .autopark__p 4 Самосвала
                .autopark__item
                    img(src="@img/autopark-4.png", alt="" draggable="false")
                    .autopark__p 17 Тонаров