mixin beton()
    section.section.beton 
        .beton__body.container  
            h2.beton__title.title Бетон
            .beton__content 
                a(href="#!").beton__item 
                    p.beton__subtitle М-100
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-150
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-200
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-250 
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-300
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-350
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-400
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-450
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-500
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")
                a(href="#!").beton__item 
                    p.beton__subtitle М-550
                    .beton__img 
                        img(src="@img/beton-1.png", alt="")