mixin breadcrumb1()
    .breadcrumb     
        .bradcrumb__body.container 
            p.breadcrumb__p #[a(href="index.html") Главная ] #[span /] #[a(href="contacts.html").active Контакты ] 
mixin breadcrumb2()
    .breadcrumb     
        .bradcrumb__body.container 
            p.breadcrumb__p #[a(href="index.html") Главная ] #[span /] #[a(href="beton.html").active Бетон ] 