mixin certificates()
    section.section.certificates 
        .certificates__body.container 
            h2.certificates__title.title Сертификаты соответствия
            .slider.clients__slider     
                .swiper.certificates__swiper 
                    .swiper-wrapper.clients__swiper-wrapper 
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/certificate-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/certificate-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/certificate-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/certificate-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/certificate-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/certificate-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/certificate-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/certificate-1.png", alt="")
                .clients__buttons 
                    .certificates__button-prev   
                        img(src="@img/prev-btn.png", alt="")
                    .certificates__button-next
                        img(src="@img/next-btn.png", alt="")
                .swiper-pagination.certificates__pagination
            