mixin clients()
    section.section.clients
        .clients__body.container 
            h2.clients__title.title Наши клиенты
            .slider.clients__slider     
                .swiper.clients__swiper 
                    .swiper-wrapper.clients__swiper-wrapper 
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-2.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-3.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-4.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-5.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-6.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-1.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-2.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-3.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-4.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-5.png", alt="")
                        .swiper-slide.clients__slide
                            .clients__img 
                                img(src="@img/client-6.png", alt="")
                .clients__buttons 
                    .clients__button-prev   
                        img(src="@img/prev-btn.png", alt="")
                    .clients__button-next
                        img(src="@img/next-btn.png", alt="")
                .swiper-pagination.clients__pagination