mixin contacts()
    section.section.contacts 
        .contacts__body.container   
            h2.contacts__title Контакты
            .contacts__content 
                .contacts__left 
                    p.contacts__subtitle Контакты
                    .contacts__row  
                        