mixin delivery()
    section.section.delivery 
        .delivery__body.container 
            .delivery__row 
                .delivery__img 
                    img(src="@img/delivery-img.png", alt="" draggable="false")
                .delivery__content 
                    h2.delivery__title Бетон в Истре с доставкой
                    p.delivery__p Вы с легкостью подберете нужную продукцию благодаря удобному каталогу.
                    p.delivery__p Завод "Гарант-Бетон" является круглогодичным и обеспечен всем необходимым для быстрого и качественного производства бетона любого класса и марки. Собственный лабораторный комплекс гарантирует оптимальные эксплуатационные характеристики продукции. 
                    p.delivery__p Реализуемые строительные смеси, а также щебень и песок обязательно проходят проверку на соответствие ГОСТам и нормативным документам перед продажей. 
            p.delivery__p Благодаря этому вы можете быть уверены в их качестве.
            p.delivery__p Стоимость бетона не завышается нами. Это обусловлено наличием собственного производства и отсутствием посредников. Мы всегда придерживаемся лояльной ценовой политики и в отношении других товаров.