mixin intro()
    .intro 
        .intro__body.container 
            .intro__content
                h1.intro__title Бетон и нерудные материалы
                p.intro__p напрямую от завода производителя
                .intro__row 
                    .intro__el  
                        .intro__el-line
                        .intro__el-item
                        .intro__el-line
                        .intro__el-line
                        .intro__el-item
                        .intro__el-line
                        .intro__el-line
                        .intro__el-item
                        .intro__el-line
                    .intro__list
                        p.intro__li Доступные цены за счёт собственного сырья 
                        p.intro__li Исключение недолива - гарантируем объём 
                        p.intro__li Отгружаем продукцию 24/7 
                button(type='button').open-popup.btn-red.intro__btn
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 20H9.34066V10.6593H0V20ZM1.86813 13.1319H7.47253V14.4505H1.86813V13.1319ZM1.86813 16.2088H7.47253V17.5275H1.86813V16.2088Z" fill="white"/>
                        <path d="M10.6593 0V9.34066H20V0H10.6593ZM16.8449 7.11802L15.3297 5.60277L13.891 7.04145L12.9586 6.10901L14.3972 4.67033L12.882 3.15508L13.8144 2.22264L15.3297 3.73789L16.7684 2.29921L17.7008 3.23165L16.2621 4.67033L17.7774 6.18558L16.8449 7.11802Z" fill="white"/>
                        <path d="M0 9.34066H9.34066V0H0V9.34066ZM1.86813 4.01099H4.01099V1.97635H5.32967V4.01099H7.47253V5.32967H5.32967V7.36431H4.01099V5.32967H1.86813V4.01099Z" fill="white"/>
                        <path d="M10.6593 20H20V10.6593H10.6593V20ZM12.5275 14.6703H18.1319V15.989H12.5275V14.6703Z" fill="white"/>
                    </svg>
                    | Рассчитать стоимость
            .intro__img 
                img(src="@img/intro.png", alt="" draggable="false")