mixin list()
    .list 
        .list__body.container 
            h2.title.list__title Цены на бетон
            .list__content  
                .list__row 
                    .list__item.b.list__item-1 Марка
                    .list__item.b.list__item-2 Назв.
                    .list__item.b.list__item-3 На грав.
                    .list__item.b.list__item-4 На гран.
                .list__row 
                    .list__item.l.b.list__item-1 М-100
                    .list__col.list__item-2
                        .list__item В7,5 П3 F50 W2
                        .list__item В7,5 П3 F50 W2
                    .list__col.list__item-3
                        .list__item 5 000 руб.
                        .list__item 5 100 руб.
                    .list__col.list__item-4
                        .list__item 6 000 руб.
                        .list__item 6 100 руб.
                .list__row 
                    .list__item.l.b.list__item-1 М-200
                    .list__col.list__item-2
                        .list__item В7,5 П3 F50 W2
                        .list__item В7,5 П3 F50 W2
                    .list__col.list__item-3
                        .list__item 5 000 руб.
                        .list__item 5 100 руб.
                    .list__col.list__item-4
                        .list__item 6 000 руб.
                        .list__item 6 100 руб.
                .list__row 
                    .list__item.l.b.list__item-1 М-300
                    .list__col.list__item-2
                        .list__item В7,5 П3 F50 W2
                        .list__item В7,5 П3 F50 W2
                    .list__col.list__item-3
                        .list__item 5 000 руб.
                        .list__item 5 100 руб.
                    .list__col.list__item-4
                        .list__item 6 000 руб.
                        .list__item 6 100 руб.
                .list__row 
                    .list__item.l.b.list__item-1 М-400
                    .list__col.list__item-2
                        .list__item В7,5 П3 F50 W2
                        .list__item В7,5 П3 F50 W2
                    .list__col.list__item-3
                        .list__item 5 000 руб.
                        .list__item 5 100 руб.
                    .list__col.list__item-4
                        .list__item 6 000 руб.
                        .list__item 6 100 руб.