mixin products()
    section.section.products    
        .products__body.container 
            h2.products__title.title Каталог продукции
            .products__cards 
                .products__card 
                    .products__img 
                        img(src="@img/product-1.png", alt="" draggable="false")
                    .products__content
                        p.products__subtitle Бетон
                        p.products__p Высококачественный бетон проверенный лабораторией
                        a(href="#!").products__btn.btn-red Подробнее
                .products__card 
                    .products__img 
                        img(src="@img/product-2.png", alt="" draggable="false")
                    .products__content
                        p.products__subtitle Насос
                        p.products__p Высококачественный бетон проверенный лабораторией
                        a(href="#!").products__btn.btn-red Подробнее
                .products__card 
                    .products__img 
                        img(src="@img/product-3.png", alt="" draggable="false")
                    .products__content
                        p.products__subtitle Песок
                        p.products__p Высококачественный бетон проверенный лабораторией
                        a(href="#!").products__btn.btn-red Подробнее
                .products__card 
                    .products__img 
                        img(src="@img/product-4.png", alt="" draggable="false")
                    .products__content
                        p.products__subtitle Щебень
                        p.products__p Высококачественный бетон проверенный лабораторией
                        a(href="#!").products__btn.btn-red Подробнее
                .products__card 
                    .products__img 
                        img(src="@img/product-5.png", alt="" draggable="false")
                    .products__content
                        p.products__subtitle ЖБИ
                        p.products__p Высококачественный бетон проверенный лабораторией
                        a(href="#!").products__btn.btn-red Подробнее