mixin rec()
    .rec    
        .rec__body.container 
            .rec__img 
                img(src="@img/rec-img.png", alt="" draggable="false")
            .rec__content 
                p.rec__p Осенняя акция! Снижение цены на 20%