mixin rental()
    section.section.rental 
        .rental__body.container 
            h2.rental__title.title Аренда автобетононасоса
            .rental__cards 
                .rental__card
                    .rental__top 
                        p.rental__subtitle Автобетононасос
                        p.rental__info 22 метра
                    .rental__img    
                        img(src="@img/img-1.png", alt="")
                    .rental__content
                        .rental__infos
                            p.rental__p стоимость смены
                            p.rental__price от 18 000 руб
                        a(href="#!").rental__btn.btn-red Подробнее 
                .rental__card
                    .rental__top 
                        p.rental__subtitle Автобетононасос
                        p.rental__info 28 метра
                    .rental__img    
                        img(src="@img/img-2.png", alt="")
                    .rental__content
                        .rental__infos
                            p.rental__p стоимость смены
                            p.rental__price от 18 000 руб
                        a(href="#!").rental__btn.btn-red Подробнее 
                .rental__card
                    .rental__top 
                        p.rental__subtitle Автобетононасос
                        p.rental__info 32 метра
                    .rental__img    
                        img(src="@img/img-3.png", alt="")
                    .rental__content
                        .rental__infos
                            p.rental__p стоимость смены
                            p.rental__price от 18 000 руб
                        a(href="#!").rental__btn.btn-red Подробнее 
                .rental__card
                    .rental__top 
                        p.rental__subtitle Автобетононасос
                        p.rental__info 36 метра
                    .rental__img    
                        img(src="@img/img-4.png", alt="")
                    .rental__content
                        .rental__infos
                            p.rental__p стоимость смены
                            p.rental__price от 18 000 руб
                        a(href="#!").rental__btn.btn-red Подробнее 