mixin stat()
    .stat 
        .stat__body.container 
            h2.title.stat__title Наша компания в цифрах
            .stat__content 
                .stat__item
                    span.stat__b 15 лет
                    .stat__info на рынке
                .stat__item
                    span.stat__b 3 000 м2
                    .stat__info производим в сутки
                .stat__item
                    span.stat__b 12 000 000 м2
                    .stat__info отгрузили бетона за год
                .stat__item
                    span.stat__b 360 
                    .stat__info объектов построено из нашего бетона