// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gilroy', sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
    // background: #333A63;
}
body{
    &.o-hidden{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.btn{
    &-out{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 17px 22px;
        height: 60px;
        text-decoration: none;
        transition: 300ms ease-out;
        border-radius: 3px;
        font-weight: 800;
        font-size: 18px;
        line-height: 150%;
        border: 1px solid #9E9FA0;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #262728;
        transition: 300ms ease-out;
        @include media(768){
            height: 40px;
            font-size: 11px;
            line-height: 150%;
            svg{
                height: 16px;
            }
        }
        svg{
            transition: 300ms ease-out;
            fill: #262728;
        }
        &.disabled{
            color: rgba(#262728, 0.5);
            svg{
                fill: rgba(#262728, 0.5);
            }
        }
        &:not(.disabled):hover{
            background: #262728;
            color: #FFFFFF;
            border-color: #262728;
            svg{
                fill: #fff;
            }
        }
    }
    &-red{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 17px 22px;
        height: 60px;
        text-decoration: none;
        transition: 300ms ease-out;
        border-radius: 3px;
        font-weight: 800;
        font-size: 18px;
        line-height: 150%;
        background: linear-gradient(180deg, #B80000 0%, #900000 100%);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        @include media(768){
            height: 40px;
            font-size: 11px;
            line-height: 150%;
            svg{
                height: 16px;
            }
        }
        svg{
            fill: #FFFFFF;
            transition: 300ms ease-out;
        }
        &.disabled{
            color: rgba(#FFF, 0.5);
            svg{
                opacity: 0.5;
            }
        }
        &:not(.disabled):hover{
            color: rgba(#FFF, 0.5);
            svg{
                opacity: 0.5;
            }
        }
    }
    &-gray{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 17px 22px;
        height: 60px;
        text-decoration: none;
        transition: 300ms ease-out;
        border-radius: 3px;
        font-weight: 800;
        font-size: 18px;
        line-height: 150%;
        background: linear-gradient(180deg, #374664 0%, #0F1E3C 100%);
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
        @include media(768){
            height: 40px;
            font-size: 11px;
            line-height: 150%;
            svg{
                height: 16px;
            }
        }
        svg{
            fill: #FFFFFF;
            transition: 300ms ease-out;
        }
        &.disabled{
            color: rgba(#FFF, 0.5);
            svg{
                opacity: 0.5;
            }
        }
        &:not(.disabled):hover{
            color: rgba(#FFF, 0.5);
            svg{
                opacity: 0.5;
            }
        }
    }
}
ul{
    list-style-type: none;
    li{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            width: 6px;
            height: 6px;
            background: #B80000;
            pointer-events: none;
        }
    }
}
.title{
    font-weight: 800;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
    position: relative;
    @include media(992){
        font-size: 50px;
    }
    @include media(768){
        font-size: 36px;
        line-height: 150%;
        letter-spacing: 0.02em;
    }
    @include media(576){
        font-size: 22px;
    }
    &::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 4px;
        background: url(../img/title-line.svg) center / cover no-repeat;
        bottom: 0;
        @include media(768){
            width: 50px;
            height: 2px;
            background: url(../img/title-line-md.svg) center / cover no-repeat;
        }
    }
}
a{
    text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.list{
    background: #fff;
    padding: 38px 0 60px 0;
    @include media(576){
        padding: 30px 0 40px 0; 
    }
    &__content{
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    }
    &__title{
        margin-bottom: 40px;
        @include media(768){
            margin-bottom: 23px;
        }
    }
    &__row{
        display: flex;
        border-top: 1px solid #D0D1D2;
        &:first-of-type{
            background: #F3F4F5;
            .list__item{
                border-bottom: none;
            }
        }
        &:last-of-type{
            border-bottom: 1px solid #D0D1D2;
        }
    }
    &__item{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #262728;
        text-align: center;
        @include media(992){
            font-size: 16px;
        }
        @include media(576){
            font-size: 10px;
            height: 50px;
        }
        &:not(:last-of-type){
            border-bottom: 1px solid #D0D1D2;
        }
        &.b{
            font-weight: 800;         
        }
        &-1{
            width: 14%;
            border-right: 1px solid #D0D1D2;
            @include media(1200){
                width: 20%;
            }
        }
        &-2{
            width: 16%;
            border-right: 1px solid #D0D1D2;
            @include media(1200){
                width: 30%;
            }
        }
        &-3{
            border-right: 1px solid #D0D1D2;
        }
        &-3{
            width: 35%;
            @include media(1200){
                width: 23%;
            }
        }
        &-4{
            width: 35%;
            @include media(1200){
                width: 28%;
            }
        }
        &.l{
            height: 120px;
            background: #F3F4F5;
            border-bottom: none;
            @include media(576){
                height: 100px;
            }
        }
    }
}

.exp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 100px;
    padding: 0 50px;
    @include media(576){
        padding: 0 20px;
        flex-direction: column;
    }
}
.txt-row{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 100px;
    padding: 0 50px;
    margin-bottom: 100px;
    @include media(768){
        flex-direction: column;
    }
    @include media(576){
        padding: 0 20px;
    }
}
.txt-h{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 450px;
    @include media(768){
        min-width: 0;
    }
}
.txt-t{
    display: flex;
    flex-direction: column;
    gap: 80px;
    @include media(576){
        gap: 40px;
    }
}
h1{
    font-weight: 800;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;    
    @include media(576){
        font-size: 36px;
    }
}
h2{
    font-weight: 800;
    font-size: 46px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;   
    @include media(576){
        font-size: 30px;
    } 
}
h3{
    font-weight: 800;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
    @include media(576){
        font-size: 26px;
    } 
}
h4{
    font-weight: 800;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
    @include media(576){
        font-size: 22px;
    } 
}
h5{
    font-weight: 800;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;
}
h6{
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #262728;    
}
.t{
    &1{
        font-weight: 400;
        font-size: 36px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #262728;  
        @include media(576){
            font-size: 22px;
        }      
    }
    &2{
        font-weight: 400;
        font-size: 26px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #262728;   
        @include media(576){
            font-size: 20px;
        }       
    }
    &3{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #262728;
        @include media(576){
            font-size: 16px;
        } 
    }
    &4{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #262728;        
    }
    &5{
        font-weight: 400;
        font-size: 11px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #262728;
    }
    &6{
        font-weight: 400;
        font-size: 10px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #262728;
    }
}